<h1>Welcome</h1>

<p>Hello, <%= session[:name] %></p>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>

<%= link_to "Secret Page", secret_path %>